body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, red , green);
    padding: 10px 20px;
    color: wheat;
    font-weight: 700;
}