body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, red , green);
    padding: 10px 20px;
    color: wheat;
    font-weight: 700;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}